@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');

h1 {
  font-family: 'Comfortaa', Arial;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family:Arial, sans-serif;
  text-align: center;
}
