@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');
body{
    margin:0;
    background:#F7F4F2;
    color:#2c5563;
    font-family:'Comfortaa', sans-serif;
    line-height:1.8;
}
header{
    background:#6c94e5;
    padding:20px 20px 15px;
    text-align:center;
    border-bottom:4px solid #accadc;
}
h1{
    margin:0;
    color:#abe7dd;
    font-size:2.2em;
}
.subtitle{
    color:#F3ECF8;
    margin:6px auto 15px;
    max-width:700px;
    font-style:italic;
}
nav{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:nowrap;
    margin-top:8px;
}
nav a{
    color: #75d9f0;
    text-decoration:none;
    font-weight:600;
    font-size:1rem;
    transition:.25s;
}
nav a:hover{
    color:#F7F4F2;
    text-decoration:underline;
}

main{
    max-width:900px;
    margin:45px auto;
    padding:0 30px;
}
h2{
    color:#5c87ad;
    border-bottom:2px solid #d5a5d1;
    padding-bottom:8px;
    margin-top:45px;
}
p{
    margin-bottom:20px;
}
ul{
    padding-left:25px;
}
li{
    margin-bottom:10px;
}
footer{
    text-align:center;
    background:#6c94e5;
    color:white;
    padding:20px;
    margin-top:60px;
    border-top:4px solid  #accadc;
}
