@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Share+Tech&family=Smooch+Sans:wght@100..900&display=swap');
h1 {
  font-family: 'Comfortaa', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: 'Share Tech', Arial, sans-serif; /* Fix: Space instead of + */
  text-align: center;

}

header {
  background-color:#7997e6; 
  padding: 3vh 4%;
  border-bottom: 3px solid #e5c3de;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
header h1 {
  color:#75d9f0;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  text-align: center;
}
header h2 {
  color: #75d9f0;
  font-family: 'Share Tech', Arial, sans-serif;
  text-align: center;
}
